*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0f234d;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#38BDF8;
}

nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}

.hero{
    text-align:center;
    padding:60px 20px;
}

.hero-logo{
    width:160px;
    height:160px;
    border-radius:50%;
    object-fit:cover;
    display:block;
    margin:0 auto 25px auto;
    box-shadow:0 0 20px rgba(56,189,248,0.5);
}

.hero h1{
    font-size:60px;
    color:#38BDF8;
}

.hero h2{
    margin-top:20px;
    font-size:30px;
}

.hero p{
    margin-top:15px;
    font-size:20px;
    color:#cbd5e1;
}

.buttons{
    margin-top:30px;
}

.btn{
    display:inline-block;
    background:#38BDF8;
    color:white;
    text-decoration:none;
    padding:12px 25px;
    border-radius:8px;
    margin:10px;
    font-weight:bold;
}

.services{
    padding:80px 40px;
    text-align:center;
}

.services h2{
    color:#38BDF8;
    font-size:42px;
    margin-bottom:40px;
}

.service-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card{
    background:rgba(255,255,255,0.08);
    padding:25px;
    border-radius:12px;
    font-size:18px;
    font-weight:bold;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.about{
    padding:80px 20px;
    text-align:center;
}

.about h2{
    color:#38BDF8;
    font-size:42px;
    margin-bottom:20px;
}

.about p{
    max-width:800px;
    margin:auto;
    color:#cbd5e1;
    line-height:1.8;
}

.contact{
    padding:80px 20px;
    text-align:center;
}

.contact h2{
    color:#38BDF8;
    font-size:42px;
    margin-bottom:20px;
}

.contact p{
    margin:10px;
    color:#cbd5e1;
}

footer{
    text-align:center;
    padding:30px;
    background:#08152f;
}

footer p{
    margin:5px;
    color:#94a3b8;
}
.service-page{
    text-align:center;
    padding:80px 20px;
}

.service-page h1{
    color:#38BDF8;
    margin-bottom:40px;
}

.service-list{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    max-width:900px;
    margin:auto;
}

.service-item{
    background:#1E293B;
    padding:20px;
    border-radius:10px;
    font-size:18px;
}
.card-link{
    text-decoration:none;
    color:white;
}
.card-link{
    text-decoration:none;
    color:white;
}
.why-us{
    padding:80px 20px;
    text-align:center;
}

.why-us h2{
    color:#38BDF8;
    margin-bottom:40px;
}

.why-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.why-card{
    background:#1E293B;
    padding:25px;
    border-radius:10px;
}